<main class="main">
  <div class="main_inner">
    <div class="inner_left">
      <div class="name">
        <div class="name__one"></div>
        <div class="name__two">投稿一覧</div>
        <div class="name__three">いいね一覧</div>
      </div>
    </div>
    <div class="text">
      <div class="text__one">
        <p>〜あなたが見つけた音楽・映画・ドラマなどなど様々なカルチャーを共有しよう〜</p>
      </div>
      <div class="text__two">
        <p>☆投稿一覧☆</p>
      </div>
      <div class="card__wrapper">
        <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'comment', collection: @comments %>
      </div>
    </div>
    <div class="inner_right"></div>
  </div>
</main>
