<main class="main">
  <div class="inner">
    <div class="text__one">〜あなたが見つけた音楽・映画・ドラマなどなど様々なカルチャーを共有しよう〜</div>
    <div class="text__two">☆投稿一覧☆</div>
      <div class="card__wrapper">
        <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      </div>
  </div>
</main>
